@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');/* @import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
/* Home Styles */

body {
    position: relative;
}

.navbar {
    background-color: #F7F3EF !important;
    box-shadow: 0px 10px 18px -8px rgba(114,62,57,0.4);
    -webkit-box-shadow: 0px 10px 18px -8px rgba(114,62,57,0.4);
    -moz-box-shadow: 0px 10px 18px -8px rgba(114,62,57,0.4);
}
.navbar a {
    font-family: 'Kdam Thmor Pro', sans-serif;
}
.nav-link {
    color: #e39474 !important;
    font-family: 'Open Sans', sans-serif;
    border-radius: 13px;
    text-decoration: underline #652f1a59;
}
.nav-link:hover {
    font-weight: 500;
    text-decoration: underline #652f1ae0;
    text-shadow:  0px 10px 18px -8px rgba(114,62,57,0.4);
    box-shadow: -2px -6px 51px -16px rgba(27,70,99,0.34);
    -webkit-box-shadow: -2px -6px 51px -16px rgba(27,70,99,0.34);
    -moz-box-shadow: -2px -6px 51px -16px rgba(27,70,99,0.34);
}
.navbar-brand {
    color: #1B4663 !important;
    font-size: 26px;
    font-weight: 600;
}
.main_section {
    margin-top: 40px;
}
main {
    background-color: rgba(255, 255, 255, 0.327);
    margin-bottom: 120px !important;
}
.main_section_sub > div > div {
    border-radius: 10px;
    padding: 20px;
    height: 67.5vh;
}
.chat_messages {
    position: relative;
    background-color: #F7F3EF;
    margin-left: 50px;
    /* border: 1px solid black; */
    box-shadow: 0px 10px 18px -8px rgba(114,62,57,0.4);
    -webkit-box-shadow: 0px 10px 18px -8px rgba(114,62,57,0.4);
    -moz-box-shadow: 0px 10px 18px -8px rgba(114,62,57,0.4);
}
.messages_container {
    position: relative;
    /* border: 1px solid black; */
    height: 100% !important;
}
.messages_display {
    height: 80%;
    overflow-y: scroll;
}
.message_input_container {
    /* border: 1px solid black; */
    width: 100%;
    position: absolute;
    bottom: 0%;
}
.message_input_container .col-md-3 {
    width: 25%;
}
.message_input_container .col-md-6 {
    width: 60%;
}
.message_input_container .col-md-1 {
    width: 10%;
}
.log_messages {
    border: 2px solid white;
    border-radius: 4px;
    background-color: #f6a24339;
    margin-right: 20px;
    box-shadow: 0px -6px 45px -10px rgba(27,70,99,0.11);
    -webkit-box-shadow: 0px -6px 45px -10px rgba(27,70,99,0.11);
    -moz-box-shadow: 0px -6px 45px -10px rgba(27,70,99,0.11);
}
.log_messages_header h4 {
    text-decoration: 2px underline #1B4663;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.footer {
    /* border: 1px solid black; */
    background-color: #1B4663 !important;
    position: fixed;
    width: 100%;
    bottom: 0%;
    box-shadow: -2px -6px 151px -21px rgba(27,70,99,0.11);
    -webkit-box-shadow: -2px -6px 151px -21px rgba(27,70,99,0.11);
    -moz-box-shadow: -2px -6px 151px -21px rgba(27,70,99,0.11);
}
.some_text {
    border-top: 1px solid #1B4663;
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    border-bottom: 1px solid #1B4663;
}
/* .login_container {

} */
/* .login_input_container {

} */
@media (max-width: 1000px) {
    .log_messages {
        overflow-y: scroll;
    }
}
@media (max-width: 800px) {
    .chat_messages {
        width: 55%;
        margin: 0 0 0 10px;
    }
    .log_messages {
        margin-top: 25px;
        width: 35%;
        overflow-y: scroll;
    }
}
@media (max-width: 700px) {
    .chat_messages {
        width: 95%;
        margin: 0 0 0 10px;
    }
    .log_messages {
        margin-top: 25px;
        width: 85%;
        overflow-y: scroll;
    }
}



/* Added Styles */
.themed-grid-col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid rgba(86, 61, 124, .2);
  }
  